#app {
  background-color: #988ec9;
  width: 100%;
  height: 95vh;
  display: flex;
}
#box {
  margin: 10vh auto auto auto;
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 15px;
  font: 1em sans-serif;
  text-align: center;
  padding: 40px;
}

#todo-title {
  background-color: greenyellow;
  width: fit-content;
  margin: auto auto 20px;
}
/* 
#todo-subtitle {
} */

#todo-input {
  height: 20px;
  padding: auto;
}
#todo-submit {
  height: 24px;
}

li {
  text-align: left;
  /* overflow: scroll; */
  height: 20px;
}
